.scroll-pane {
    -fx-background-color: transparent; /* Sfondo dello ScrollPane trasparente */
    -fx-border-color: transparent;    /* Bordo dello ScrollPane trasparente */
}

.scroll-pane .viewport {
    -fx-background-color: transparent; /* Sfondo del Viewport trasparente */
}

.scroll-pane:focused {
    -fx-focus-color: transparent; /* Rimuove il colore di focus */
    -fx-faint-focus-color: transparent; /* Rimuove il colore attenuato */
}
